@media only screen and (min-width: 320px){
body{
    font-family: 'Nanum Myeongjo', serif;
  }
  .mobile-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner img{
    width: 100%;
  }
  .banner-content{
    padding: 32px;
    color: #474343;
    background-color: #dcd7d7;
    font-family: helvetica;
  }
  .banner-content h1{
    font-size: 110px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 64px;
    font-weight: bolder;
  }
  .banner-content h2{
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 64px;
  }
  .banner-content h3{
    font-size: 40px;
    padding: 32px;
    text-align: center;
    background-color: #6f6f6f;
    color: white;
  }
  .mid{
    padding: 32px;
    border-bottom: 1px solid #afaeae;
  }
  .mid h1{
    font-size: 90px;
    margin-bottom: 32px;
  }
  .mid h2{
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: lighter;
  }
  .mid h3{
    font-size: 30px;
    margin-bottom: 32px;
  }
  .mid h3 a{
    color: #539cfc;
  }
  .mid img{
    width: 100%;
    padding-bottom: 32px;
  }
  .offers{
    padding: 32px;
    font-family: helvetica;
  }
  .offers h1{
    font-size: 110px;
    font-weight: bolder;
    color: #474343;
    margin-bottom: 64px;
    text-align: center;
  }
  .offers h2{
    border: 1px solid black;
    font-size: 60px;
    padding: 32px;
    color: #474343;
    font-weight: bold;
    margin-bottom: 32px;
    background-color: #efefef;
  }
  .thesis h1{
    font-size: 110px;
    font-weight: bolder;
    color: #474343;
    padding: 64px;
    text-align: center;
    font-family: helvetica;
  }
  .thesis video{
    width: 100%;
  }
  .mobile-footer{
    padding: 64px;
  }
  .mobile-footer p{
    font-size: 10px;
  }
}
